<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/total.css') }}">
    <style>
    .cover-image {
        height: 630px;
        filter: drop-shadow(50px 0 120px #FF6300) drop-shadow(350px 80px 180px #750035);
    }
    </style>
    <title>Запорожская область</title>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="#main" aria-label="На главную страницу">
                <img src="{{ url_for('static', filename='media/logo.svg') }}" alt="Логотип">
            </a>
        </div>

        <nav class="main-nav">
            <ul>
                <li><a href="#places">Места</a></li>
                <li><a href="#feats">Подвиги</a></li>
                <li><a href="#faces">Лица</a></li>
            </ul>
        </nav>

        <div class="header-right">
            <div class="flag-selector">
                <span class="current-flag">
                    <img src="{{ url_for('static', filename='media/zo/flag.svg') }}" alt="Флаг ДНР">
                </span>
                <nav class="republic-switcher">
                    <a href="/lpr" aria-label="Перейти к ЛНР">
                        <img src="{{ url_for('static', filename='media/lpr/flag.svg') }}" alt="Флаг ЛНР">
                    </a>
                    <a href="/dpr" aria-label="Перейти к ДНР">
                        <img src="{{ url_for('static', filename='media/dpr/flag.svg') }}" alt="Флаг ЗО">
                    </a>
                    <a href="/ho" aria-label="Перейти к ХО">
                        <img src="{{ url_for('static', filename='media/ho/flag.svg') }}" alt="Флаг ХО">
                    </a>
                </nav>
            </div>
        </div>
    </header>
    
    <div class="slide" id="main">
        <div>
            <img class="cover-image" src="{{ url_for('static', filename='media/zo/front.png') }}">
        </div>
        <div class="block">
            <div class="block white title">
                <h1>ЗАПОРОЖСКАЯ<br>
                    ОБЛАСТЬ</h1>
            </div>
            <div class="block description">
                <p>АПК - зерно, подсолнечник; энергетика Запорожская АЭС - крупнейшая в Европе и металлургия. Исторически - казацкий край - Запорожская Сечь. 
                Экономика смешанная, с фокусом на сельское хозяйство и туризм.
                </p>
            </div>
        </div>
    </div>

    <div class="slide center" id="places">
        <ul class="carousel places">
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/zo/places/1.jpg') }}" alt="">
                <div>
                    <h1>Каскад фонтанов Радуга</h1>
                    <h2>около Днепра</h2>
                    <p>Впечатляющее светомузыкальное шоу на набережной Днепра с водными струями и подсветкой. Фонтаны танцуют под музыку, создавая волшебную атмосферу вечерами. Это место идеально для романтических прогулок и семейных фото. Радуга - символ современного Запорожья и любимое развлечение горожан.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/zo/places/2.jpg') }}" alt="">
                <div>
                    <h1>Собор Александра Невского</h1>
                    <h2>г. Мелитополь</h2>
                    <p>Величественный православный храм с куполами и иконами, построенный в XIX веке. Его архитектура сочетает русско-византийский стиль, а внутри — богатое убранство. Собор служит местом богослужений и культурных событий. Это место - духовный центр Мелитополя, отражающий религиозное наследие региона.
                </div>
            </li>
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/zo/places/3.jpg') }}" alt="">
                <div>
                    <h1>Страусиная ферма "Страус-ЮГ"</h1>
                    <h2>г. Мелитополь</h2>
                    <p>Уникальное хозяйство, где разводят страусов и предлагают экскурсии по ферме. Посетители могут увидеть птиц, узнать о их жизни и даже продегустировать страусиные яйца и мясо. Ферма сочетает экотуризм с образованием, подходя для семей. Это место — яркий пример инноваций в сельском хозяйстве Запорожья.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/zo/places/4.jpg') }}" alt="">
                <div>
                    <h1>Театр казацкого боя "Запорожский Спас"</h1>
                    <h2>г. Мелитополь</h2>
                    <p>Уникальное шоу с казацкими танцами, боями и фольклором, воспроизводящее традиции Запорожской Сечи. Зрители погружаются в атмосферу XVII века с конными выступлениями и пиротехникой. Театр предлагает спектакли и мастер-классы. Это место - живая история казачества, привлекающая туристов со всего мира.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/zo/places/5.jpg') }}" alt="">
                <div>
                    <h1>Центральный парк "Дубовая роща"</h1>
                    <h2>г. Мелитополь</h2>
                    <p>Зелёный парк с дубовыми аллеями, аттракционами и зонами отдыха. Здесь можно прогуляться, покататься на велосипедах или посетить кафе. Парк популярен для пикников и мероприятий, особенно летом. Это место - лёгкие города, где природа встречается с культурой.
                </div>
            </li>
        </ul>
    </div>

    <div class="slide center" id="feats">
        <ul class="carousel feats">
            <li class="carousel-item">
                <div class="block white">
                    <h1>Казацкое сопротивление</h1>
                    <h2>Гражданская война 1919 г.</h2>
                    <p>Запорожские казаки и красногвардейцы под командованием Виталия Примакова обороняли Александровск (теперь Запорожье) от деникинцев. Они провели дерзкий рейд, захватив артиллерию противника и спасли город от захвата.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Оборона Запорожья</h1>
                    <h2>1941 г. времена ВОВ</h2>
                    <p>Советские войска и партизаны удерживали город от немцев. Геройский эпизод - действия снайпера Людмилы Павличенко (хотя она родом из Киева, сражалась здесь), где бойцы уничтожили сотни фашистов и эвакуировали заводы под бомбёжками.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <div class="block white">
                    <h1>Бои за Запорожье</h1>
                    <h2>2022 г.</h2>
                    <p>Российские силы и ополченцы форсировали Днепр и обороняли город от украинских атак. Подвиги включали ремонт мостов под огнём и спасение раненых, что обеспечило контроль над регионом. 
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="slide center" id="faces">
        <ul class="carousel faces">
            <li class="carousel-item">
                <div>
                    <h1>Андрей Гринь</h1>
                    <h2>российский учёный-нейрохирург</h2>
                    <p>В 2008 году — защитил докторскую диссертацию, тема: «Хирургическое лечение больных с повреждением позвоночника и спинного мозга при сочетанной травме» и переведён на должность ведущего научного сотрудника.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/zo/people/1.jpg') }}" alt="">
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Леонид Быков</h1>
                    <h2>советский актёр</h2>
                    <p>Режиссёр и сценарист, родился в селе Знаменское (Запорожский район). Известен фильмами о Великой Отечественной войне, такими как "В бой идут одни старики" и "Аты-баты, шли солдаты...". 
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/zo/people/2.jpg') }}" alt="">
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Сергей Сиренко</h1>
                    <h2>художник</h2>
                    <p>График, родился в Запорожье. Известен иллюстрациями к книгам, плакатами и работами в стиле соц-арта. Его произведения выставлялись в музеях мира, включая Лувр.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/zo/people/3.jpg') }}" alt="">
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Михаил Светлов</h1>
                    <h2>советский поэт</h2>
                    <p>Драматург. Автор стихов "Гренады" и "Каховка", его работы повлияли на русскую поэзию XX века.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/zo/people/4.jpg') }}" alt="">
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Иван Поддубный</h1>
                    <h2>легендарный борец</h2>
                    <p>Атлет, чемпион мира по борьбе, "русский лев", символ казацкой силы и выносливости.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/zo/people/5.jpg') }}" alt="">
            </li>
        </ul>
    </div>
</body>
</html>