<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/total.css') }}">
    <title>Донецкая Народная Республика</title>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="#main" aria-label="На главную страницу">
                <img src="{{ url_for('static', filename='media/logo.svg') }}" alt="Логотип">
            </a>
        </div>

        <nav class="main-nav">
            <ul>
                <li><a href="#places">Места</a></li>
                <li><a href="#feats">Подвиги</a></li>
                <li><a href="#faces">Лица</a></li>
            </ul>
        </nav>

        <div class="header-right">
            <div class="flag-selector">
                <span class="current-flag">
                    <img src="{{ url_for('static', filename='media/dpr/flag.svg') }}" alt="Флаг ДНР">
                </span>
                <nav class="republic-switcher">
                    <a href="/lpr" aria-label="Перейти к ЛНР">
                        <img src="{{ url_for('static', filename='media/lpr/flag.svg') }}" alt="Флаг ЛНР">
                    </a>
                    <a href="/zo" aria-label="Перейти к ЗО">
                        <img src="{{ url_for('static', filename='media/zo/flag.svg') }}" alt="Флаг ЗО">
                    </a>
                    <a href="/ho" aria-label="Перейти к ХО">
                        <img src="{{ url_for('static', filename='media/ho/flag.svg') }}" alt="Флаг ХО">
                    </a>
                </nav>
            </div>
        </div>
    </header>
    
    <div class="slide" id="main">
        <div>
            <img class="cover-image" src="{{ url_for('static', filename='media/dpr/front.png') }}">
        </div>
        <div class="block">
            <div class="block white title">
                <h1>ДОНЕЦКАЯ<br>
                    НАРОДНАЯ<br>
                    РЕСПУБЛИКА</h1>
            </div>
            <div class="block description">
                <p>Промышленный регион с акцентом на угольную добычу, металлургию и машиностроение. Исторически — центр Донбасса, пострадавшего от различных войн.
                Высокий уровень урбанизации. Экономика пострадала от боевых действий; фокус на восстановлении инфраструктуры.
                </p>
            </div>
        </div>
    </div>

    <div class="slide center" id="places">
        <ul class="carousel places">
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/dpr/places/1.jpg') }}" alt="">
                <div>
                    <h1>Ботаничечкий сад</h1>
                    <h2>г. Макеевка</h2>
                    <p>Зелёный рай с разнообразием растений, от экзотических пальм до местных цветов, идеальный для любителей природы.
                    Здесь можно прогуляться по тропинкам, посетить оранжереи и узнать о флоре региона. Сад служит образовательным центром и местом отдыха, особенно популярным весной и летом. 
                    Это место вдохновляет на экологическое сознание и предлагает спокойный отдых в урбанизированной среде.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/dpr/places/2.jpg') }}" alt="">
                <div>
                    <h1>Искусственные водопады</h1>
                    <h2>г. Зуевка</h2>
                    <p>Уникальное инженерное сооружение, созданное для украшения пикниковой зоны и привлечения туристов.
                    Каскады воды, стекающие по ступеням, создают атмосферу спокойствия и романтики. 
                    Это место идеально для фотосессий и медитации, окружённое зеленью и умиротворяющей обстановкой.
                    Водопады символизируют гармонию природы и человеческого творчества в промышленном регионе.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/dpr/places/3.jpg') }}" alt="">
                <div>
                    <h1>Филармония</h1>
                    <h2>г. Донецк</h2>
                    <p>Культурный центр города, где проходят концерты классической и современной музыки, а также театральные постановки. 
                    Здание с элегантной архитектурой и отличной акустикой привлекает меломанов со всего региона.
                    Здесь выступают оркестры, солисты и хоры, создавая незабываемую атмосферу. 
                    Филармония — место, где искусство объединяет людей и сохраняет традиции музыкальной культуры Донбасса.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/dpr/places/4.jpg') }}" alt="">
                <div>
                    <h1>Парк им. Ленинского Космомола</h1>
                    <h2>г. Донецк</h2>
                    <p>Исторический парк с богатой зеленью, фонтанами и памятниками советской эпохи.
                    Парк служит местом отдыха для горожан и туристов, предлагая зоны для пикников.
                    Его архитектура отражает культурное наследие Донбасса и приглашает к размышлениям о прошлом.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/dpr/places/5.jpg') }}" alt="">
                <div>
                    <h1>Парк Виктория</h1>
                    <h2>г. Донецк</h2>
                    <p>Это уютный зелёный оазис в центре города, идеальный для семейного отдыха и прогулок.
                    Здесь вы найдёте живописные аллеи, детские площадки и зоны для пикников, окружённые цветущими клумбами и скульптурами.
                    Посетители могут насладиться тишиной природы, поиграть в активные игры или просто отдохнуть на скамейках. 
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="slide center" id="feats">
        <ul class="carousel feats">
            <li class="carousel-item">
                <div class="block white">
                    <h1>Шахтерское сопротивление</h1>
                    <h2>Гражданская война 1920 г.</h2>
                    <p>Рабочие Донбасса, включая шахтёров Донецка, организовали подпольные группы против белогвардейцев. 
                    Они саботировали производство угля для врага и помогали Красной Армии, что привело к освобождению региона
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Оборона Сталининграда</h1>
                    <h2>г. Сталининград</h2>
                    <p>Многие уроженцы Донбасса сражались в Сталинграде, 
                    но на местной территории — партизаны под командованием Михаила Наумова проводили операции по подрыву мостов и эшелонов. 
                    Один из подвигов — уничтожение немецкого гарнизона в Макеевке, где бойцы спасли сотни жителей от расстрела. 
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <div class="block white">
                    <h1>Бои за Иловайск</h1>
                    <h2>г. Иловайск, 2014 г.</h2>
                    <p>Ополченцы ДНР, включая добровольцев из "Русской весны", прорвали окружение украинских войск в Иловайске. 
                    Они эвакуировали раненых под миномётным огнём и удерживали позиции, несмотря на потери, 
                    что стало поворотным моментом в конфликте.
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="slide center" id="faces">
        <ul class="carousel faces">
            <li class="carousel-item">
                <div>
                    <h1>Архип Куинджи</h1>
                    <h2>русский живописец</h2>
                    <p>Живописец-пейзажист греческого происхождения, лидер круга так называемых «русских люминистов», педагог-практик и общественный деятель. 
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/dpr/people/1.jpg') }}" alt="">
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Георгий Седов</h1>
                    <h2>русский гидрограф</h2>
                    <p>Полярный исследователь, организатор неудачной экспедиции к Северному полюсу. 
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/dpr/people/2.jpg') }}" alt="">
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Александр Ханжонков</h1>
                    <h2>русский предприниматель</h2>
                    <p>Организатор кинопроизводства, режиссёр, сценарист, один из первооткрывателей русского кинематографа
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/dpr/people/3.jpg') }}" alt="">
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Сергей Прокофьев</h1>
                    <h2>советский композитор</h2>
                    <p>Русский и советский композитор, пианист, дирижёр, музыкальный писатель
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/dpr/people/4.jpg') }}" alt="">
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Георгий Береговой</h1>
                    <h2>лётчик-космонавт СССР</h2>
                    <p>Заслуженный лётчик-испытатель СССР, генерал-лейтенант авиации, кандидат психологических наук.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/dpr/people/5.jpg') }}" alt="">
            </li>
        </ul>
    </div>
</body>
</html>