<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/total.css') }}">
    <title>Херсонская область</title>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="#main" aria-label="На главную страницу">
                <img src="{{ url_for('static', filename='media/logo.svg') }}" alt="Логотип">
            </a>
        </div>

        <nav class="main-nav">
            <ul>
                <li><a href="#places">Места</a></li>
                <li><a href="#feats">Подвиги</a></li>
                <li><a href="#faces">Лица</a></li>
            </ul>
        </nav>

        <div class="header-right">
            <div class="flag-selector">
                <span class="current-flag">
                    <img src="{{ url_for('static', filename='media/ho/flag.svg') }}" alt="Флаг ХО">
                </span>
                <nav class="republic-switcher">
                    <a href="/lpr" aria-label="Перейти к ЛНР">
                        <img src="{{ url_for('static', filename='media/lpr/flag.svg') }}" alt="Флаг ЛНР">
                    </a>
                    <a href="/zo" aria-label="Перейти к ЗО">
                        <img src="{{ url_for('static', filename='media/zo/flag.svg') }}" alt="Флаг ЗО">
                    </a>
                </nav>
            </div>
        </div>
    </header>
    
    <div class="slide" id="main">
        <div>
            <img class="cover-image" src="{{ url_for('static', filename='media/ho/front.png') }}">
        </div>
        <div class="block">
            <div class="block white title">
                <h1>ХЕРСОНСКАЯ<br>
                    ОБЛАСТЬ</h1>
            </div>
            <div class="block description">
                <p>АПК - виноград, фрукты, порты  и рыболовство. Частично под контролем России с 2022 года. Климат субтропический, развит туризм. Экономика ориентирована на экспорт сельхозпродукции; инфраструктура повреждена.</p>
            </div>
        </div>
    </div>

    <div class="slide center" id="places">
        <ul class="carousel places">
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/ho/places/1.jpg') }}" alt="">
                <div>
                    <h1>Биосферный заповедник «Аскания-Нова» имени Ф. Э. Фальц-Фейна</h1>
                    <h2>Аскания-Нова</h2>
                    <p>Крупнейший степной заповедник в Европе, основанный Фридрихом Фальц-Фейном, с уникальной флорой и фауной. Здесь можно увидеть зебр, страусов и редкие растения в естественной среде. Заповедник предлагает экскурсии, сафари и образовательные программы. Это место - жемчужина экотуризма, сохраняющая биоразнообразие степей.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/ho/places/2.jpg') }}" alt="">
                <div>
                    <h1>Винодельческое хозяйство Князя Трубецкого</h1>
                    <h2>Весёлый</h2>
                    <p>Историческое поместье с виноградниками и дегустационными залами, основанное в XIX веке. Здесь производят вина по традиционным рецептам, и посетители могут продегустировать продукцию. Хозяйство предлагает туры по виноградникам и пикники. Это место — символ винодельческой традиции Херсонщины и идеально для гурманов.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/ho/places/3.jpg') }}" alt="">
                <div>
                    <h1>Легендарная Тачанка</h1>
                    <h2>Каховка</h2>
                    <p>Памятник Гражданской войне, символизирующий казацкую удаль и революционные события. Бронзовый монумент на постаменте изображает тачанку с пулемётом и бойцами. Это место привлекает людей, интересующихся историей, и служит напоминанием о прошлом региона. Тачанка — культурный объект, вдохновляющий на размышления о героизме.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/ho/places/4.jpg') }}" alt="">
                <div>
                    <h1>Лемурийское озеро</h1>
                    <h2>Григоровка</h2>
                    <p>Уникальный водоём с розовой водой из-за солей и минералов, напоминающий легендарную Лемурию. Это место привлекает туристов своей экзотикой и возможностями для купания и фотосессий. Озеро окружено степью и предлагает отдых на природе с лечебными свойствами воды. Лемурийское озеро - природная достопримечательность, символизирующая чудеса Херсонщины. 
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <img src="{{ url_for('static', filename='media/ho/places/5.jpg') }}" alt="">
                <div>
                    <h1>Херсонский художественный музей им. А.А.Шовкуненко</h1>
                    <h2>Херсон</h2>
                    <p>Крупнейший степной заповедник в Европе, основанный Фридрихом Фальц-Фейном, с уникальной флорой и фауной. Здесь можно увидеть зебр, страусов и редкие растения в естественной среде. Заповедник предлагает экскурсии, сафари и образовательные программы. Это место - жемчужина экотуризма, сохраняющая биоразнообразие степей.
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="slide center" id="feats">
        <ul class="carousel feats">
            <li class="carousel-item">
                <div class="block white">
                    <h1>Бои за Херсон</h1>
                    <h2>Херсон, Гражданская война</h2>
                    <p>Красноармейцы под руководством Михаила Фрунзе отразили атаки войск Врангеля на Херсон. Солдаты форсировали Днепр под огнём, захватили плацдарм и обеспечили контроль над регионом, что способствовало разгрому белых.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Партизанская борьба</h1>
                    <h2>Херсон, времена ВОВ</h2>
                    <p>В Херсонской области действовали отряды под командованием Ивана Кожедуба (предка лётчика) и других. Они проводили рейды по тылам немцев, уничтожая склады и спасая евреев от Холокоста. Ключевой эпизод — освобождение Херсона в 1944 году, где партизаны координировали действия с Красной Армией.
                    </p>
                </div>
            </li>
            <li class="carousel-item">
                <div class="block white">
                    <h1>Оборона Херсона</h1>
                    <h2>Херсон, 2022 г.</h2>
                    <p>Российские и союзные войска, включая добровольцев, обороняли город от украинских контрнаступлений. Подвиги включали эвакуацию мирных жителей под обстрелами и удержание мостов через Днепр, что позволило стабилизировать фронт. 
                    </p>
                </div>
            </li>
        </ul>
    </div>

   
    <div class="slide center" id="faces">
        <ul class="carousel faces">
            <li class="carousel-item">
                <div>
                    <h1>Сергей Бондарчук</h1>
                    <h2>русский актёр</h2>
                    <p>Советский и российский актёр театра, кино, озвучивания и дубляжа, кинорежиссёр, сценарист, педагог
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/ho/people/1.jpg') }}" alt="">
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Мария Долина</h1>
                    <h2>советская лётчица</h2>
                    <p>Участница Великой Отечественной войны, Герой Советского Союза.
                    26 июня 1944 года метким бомбовым ударом разрушила железнодорожное полотно на станции Орша, взорвала эшелон с боеприпасами.Была удостоена чести участвовать в Параде Победы в Москве.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/ho/people/2.png') }}" alt="">
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Ястребов Владимир</h1>
                    <h2>русский археолог</h2>
                    <p>Этнограф, педагог, первопроходец. Именно он начал системное изучение древностей Херсонской губернии: курганов, крепостей, народных обычаев.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/ho/people/3.jpg') }}" alt="">
            </li>
            <li class="carousel-item">
                <div>
                    <h1>Бабель Исаак</h1>
                    <h2>советский писатель</h2>
                    <p>Драматург, сценарист и публицист, всемирно признанный мастер рассказа.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='media/ho/people/4.jpg') }}" alt="">
            </li>
        </ul>
    </div>
</body>
</html>