

body {
    color: #e4e4e4;
    background-color: #0B0400;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Halvar Breit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;;
}

* {
    scroll-behavior: smooth;
    font-family: "Inter Variable", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;;
}

a {
    transition: all .1s ease-in-out;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #cfcfcf;
}

header {
    display: flex;
    width: 98%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    border-radius: 5px;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
}

.header-left a img {
    width: 100px;
    margin-left: 15px;
}

.republic-switcher {
    display: none;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav ul li a {
    font-size: 24px;
    margin-right: 35px;
    color: black;
}

.flag-selector span img {
    width: 50px;
    padding: 10px;
    padding-right: 70px;
    border-radius: 5px;
    background-color: #d7d7d7;
    margin-right: 5px;
}

.republic-switcher a img {
    width: 50px;
}

.slide {
    width: 100%;
    height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.slide.center {
    justify-content: center;
}

.cover-image {
    height: 830px;
    filter: drop-shadow(50px 0 120px #FF6300) drop-shadow(350px 80px 180px #750035);
}

.block {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    z-index: 2;
}

.block.white {
    padding-inline: 25px;
    color: #000000;
    background-color: #FFFFFF;
}

.block.title {
    width: 50%;
    align-self: flex-end;
    margin-right: 50px;
    padding-inline: 50px;
    margin-bottom: 50px;
}

.block.description {
    width: 50%;
    margin-left: 50px;
    color: #d2d2d2;
    font-size: 24px;
}

.block.title h1 {
    font-weight: 400;
    color: #FF6300;
    font-size: 50px;
}



.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 80vw;
    height: 500px;
    padding: 20px;
    gap: 4vw;
}


.carousel.places {
    anchor-name: --place-carousel;
}

.carousel.feats {
    anchor-name: --feat-carousel;
}

.carousel.faces {
    anchor-name: --face-carousel;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    display: flex;
    scroll-snap-align: center;
}

.carousel-item div {
    display: flex;
    width: 550px;
    flex-direction: column;
}

.carousel-item img {
    width: 650px;
    list-style-type: none;
    background-color: #eeeeee;
    border: 2px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    margin-right: 50px;
}

.carousel.faces .carousel-item img {
    width: 400px;
}

.carousel::scroll-button(*) {
  border: 0;
  position: absolute;
  top: calc(anchor(top) + 275px);
  font-size: 2rem;
  background: none;
  color: #FFFFFF;
  opacity: 0.7;
  cursor: pointer;
}

.carousel.places::scroll-button(*) {
    position-anchor: --place-carousel;
}

.carousel.feats::scroll-button(*) {
    position-anchor: --feat-carousel;
}

.carousel.faces::scroll-button(*) {
    position-anchor: --face-carousel;
}

.carousel::scroll-button(*):hover,
.carousel::scroll-button(*):focus {
  opacity: 1;
}

.carousel::scroll-button(*):active {
  translate: 1px 1px;
}

.carousel::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}

.carousel::scroll-button(left) {
  content: "←";
  right: calc(anchor(left) + 40px);
  bottom: calc(anchor(top) + 23px);
}

.carousel::scroll-button(right) {
  content: "→";
  left: calc(anchor(right) + 40px);
  bottom: calc(anchor(top) + 23px);
}

/*.carousel:nth {
    filter: drop-shadow(5px 5px 100px rgba(242, 255, 0, 0.75));
}*/