

body {
    color: #e4e4e4;
    background-color: #0B0400;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Halvar Breit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;;
}

p {
    font-family: "Inter Variable", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;;
}

a {
    transition: all .1s ease-in-out;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #cfcfcf;
}